
.App {
  text-align: center;
  max-width: 2000px;
  margin: auto;
  width: 1005;
  background-color: #E0FFF7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

/* Track styling */
::-webkit-scrollbar-track {
  background: #99EBD8; /* Background of the track */
}

/* Thumb styling */
::-webkit-scrollbar-thumb {
  background: #99EBD8; /* Thumb will be invisible */
}

/* Optional: Add a rounded corner effect */
::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Adjust the radius as needed */
}

/* Optional: Track and thumb for horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 12px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb:horizontal {
  background: transparent; /* Thumb for horizontal scrollbar */
  border-radius: 10px; /* Rounded corners for horizontal scrollbar */
}

::-webkit-scrollbar-track:horizontal {
  background: transparent; /* Track for horizontal scrollbar */
}

